body{background-color: #74d087;
     color: white;}

label{font-weight: bold;}

.container{background-color: #302e2e98;
           width:300px;
        height: 200px;
        margin: 20px;
        padding: 60px;
        }
.p1{margin: 10px;
    border-radius: 5px;}  

.p2{margin: 10px;
margin-left: 50px;
border-radius: 5px; }      

.btn{font-weight: bold;
    width: 130px;
     margin: 30px;
    background-color: #9f3737;
     border-radius: 10px;}    
         